@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');


* {
    font-family: 'Urbanist', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#logo {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 244, 188);
}

#logo img {
    height: 4em;
    margin: 1em;
}

#logo img:hover {
    rotate: 16deg;
}


#imagenes-container .imagen img {
    height: 9em;
    width: 13em;
    margin: 2.4em;
    border-radius: 1em;
}

#imagenes-container {
    margin: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#imagenes-container .imagen {
    margin: 1em;
    position: relative;

}


#imagenes-container .imagen .descripcion {
    background-color: #000;
    color: #fff;
    border-radius: .3em;
    min-width: 6em;
    width: 9em;
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    left: 4em;
    padding: .4em;
    text-overflow: ellipsis;
    transition: transform 0.3s ease-in-out;
}

/* CUANDO PASE EL MOUSE SOBRE LA IMAGEN LA DESCRIPCION TENGA OTRAS PROPIEDADES */
#imagenes-container .imagen:hover .descripcion {
    display: inline-block;
    transform: translateY(-18px);

}


/* AÑADE UN ESPACIO ANTES DE LA DESCRIPCION */
#imagenes-container .imagen .descripcion::before {
    content: "";
    width: 1px;
    height: 1px;
    position: absolute;
    left: 40%;
    bottom: -20px;
    border-top: 10px solid #000000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#imagenes-container .imagen img:hover {
    transform: scale(1.1);

}

@media (max-width: 600px) {
    #imagenes-container {
        flex-direction: column;
        align-items: center;
    }

}